@media screen and (max-width: 1440px) {
  .weather-app {
    h1 {
      font-size: 2.5rem;
      letter-spacing: 0.6rem;
      margin-right: -0.6rem;
    }
    h2 {
      font-size: 2rem;
      letter-spacing: 0.3rem;
      margin-right: -0.3rem;
      margin-top: 0.5rem;
    }
    .search {
      margin-top: 0.5rem;
      margin-bottom: 1rem;
      .search-bar {
        width: 230px;
        height: 2.25rem;
        padding: 0.4rem;
        font-size: 1rem;
        border-radius: 0.5rem 0 0 0.5rem;
      }
      button {
        height: 2.25rem;
        font-size: 1rem;
        border-radius: 0 0.5rem 0.5rem 0;
      }
    }
  }
}

@media screen and (max-width: 1280px) {
  .weather-app {
    h1 {
      font-size: 2rem;
      letter-spacing: 0.4rem;
      margin-right: -0.4rem;
    }
    h2 {
      font-size: 1.5rem;
      letter-spacing: 0.2rem;
      margin-right: -0.2rem;
    }
    .search {
      .search-bar {
        width: 200px;
        height: 2rem;
        padding: 0.3rem;
        border-radius: 0.4rem 0 0 0.4rem;
      }
      button {
        height: 2rem;
        padding: 3px 12px 3px 12px;
        border-radius: 0 0.4rem 0.4rem 0;
      }
    }
  }
}
